:root {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 17, 60, 1) 50%, rgba(2, 0, 36, 1) 100%);
}

main {
    display: flex;
    justify-content: center;
}

#highscores {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
}

.initialScore {
    font-size: 2.5rem;
    color: aliceblue;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.scoring {
    display:flex;
    justify-content: space-around;
    border-bottom-style: outset;
    border-top-style: outset;
    border-right-style: outset;
    border-left-style: outset;
    margin-bottom: 2.5rem;
    background-color: #052e3f;
    font-family: 'Chivo Mono', 'monospace', sans-serif;
}

h1 {
    font-family: 'Chivo Mono', 'monospace', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: #60D394;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

li {
    font-size: 2.5rem;
    color: aliceblue;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
}

ul {
    padding-bottom: 2rem;
    margin: 15px;
}

.button {
    display: flex;
    align-items: center;
}